.brown {
  background-color: #915715 !important;
}

.red {
  background-color: #d30000 !important;
}

.success {
  background-color: #83db83;
}

.fail {
  background-color: #edb0b0;
}

.progress-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-invoice-text {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 3rem;
}

.loading-progress {
  position: absolute;
  top: 50%;
  left: 49%;
}